<div class="main-wrapper">
  <div class="login-panel">
    <h2 class="title">SignUp</h2>
    <form>
      <div>
        <label>First Name:</label>
        <input [uiInput] name="first-name" [(ngModel)]="customer.firstName">
      </div>
      <div>
        <label>Last Name:</label>
        <input [uiInput] name="last-name" [(ngModel)]="customer.lastName">
      </div>
      <div>
        <label>Email address</label>
        <input [uiInput] name="email" [(ngModel)]="customer.emailId">
      </div>
      <div>
        <label>Mobile No.:</label>
        <input [uiInput] name="mobile" [(ngModel)]="customer.mobileNumber">
      </div>
      <div>
        <label>Address:</label>
        <input [uiInput] name="mobile" [(ngModel)]="customer.mobileNumber">
      </div>
      <div>
        <label>Password:</label>
        <input type="password" [uiInput] name="password" [(ngModel)]="inputModel">
      </div>
      <div>
        <label>Confirm Password:</label>
        <input type="password" [uiInput] name="confirm-password" [(ngModel)]="inputModel">
      </div>
    </form>
    <div class="login-box">
      <button class="login">Continue</button>
    </div>
    <div class="policy">
      <p>
        By proceeding, you are confirming that you agree to our Terms and Conditions and Privacy Policy.
      </p>
    </div>
    <div>
      <p>
        Already have  an account?Go to <a routerLink="../sign-in">Login page</a>
      </p>
    </div>
  </div>
</div>
